* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Candara';
}
html {
  font-size: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

button {
  background: #0077c0;
  color: #fff;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  border: 0;
  font-size: 1.3rem;
  cursor: pointer;
}

nav {
  position: relative;
  height: 80px;
  width: 100%;
  padding: 0 8rem;
  font-size: 1.3rem;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    .logo {
      margin-right: auto;
      img {
        width: 130px;
      }
    }
    li {
      cursor: pointer;
    }
  }
  .icon {
    display: none;
  }
}

@media only screen and (max-width: 930px) {
  nav {
    width: 250px;
    height: 100%;
    position: fixed;
    padding: 0;
    top: 0;
    left: -250px;
    display: flex;
    background: rgba(199, 238, 255, 0.7);
    z-index: 1000;
    backdrop-filter: blur(6px);
    transition: 0.25s ease-in-out;
    .icon {
      display: block;
      position: absolute;
      top: 5%;
      left: 115%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
    }
    .menu-close {
      display: none;
      left: 15%;
    }
    ul {
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 4em;
      padding-bottom: 4em;
      padding-left: 3em;
    }
  }
}

section {
  width: 100%;
  height: 100%;
  padding: 0 8rem;
  margin-top: 2em;
  .content {
    width: 100%;
    display: flex;
    align-items: center;
    .left,
    .right {
      width: 50%;
      position: relative;
    }
    .left {
      h1 {
        max-width: 600px;
        font-size: 4rem;
        font-weight: bold;
      }
      p {
        font-size: 1.5rem;
        margin-top: 0.75rem;
        max-width: 600px;
      }
      button {
        margin-top: 2rem;
      }
    }
    .right {
      overflow: hidden;
      .image-container {
        width: 50%;
        height: 100%;
        margin: auto;
        min-width: 300px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .blob {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 80%;
        min-width: 400px;
      }
    }
  }
}

.socials {
  margin-top: 1.5rem;
  height: 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    cursor: pointer;
    width: 160px;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 80%;
  }
  section {
    .content {
      flex-direction: column;
      gap: 2rem;
      .left,
      .right {
        width: 90%;
      }
      .right {
        order: -1;
      }
    }
    .socials {
      img {
        width: 100px;
      }
    }
  }
}

.section-two {
  background: #0077c0;
  .container {
    padding: 4rem 0rem;
    width: 100%;
    color: #fff;
    h3:first-child {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      font-weight: normal;
    }
    h2 {
      font-size: 3rem;
      text-align: center;
    }
    .benefits {
      margin-top: 3.125rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 1rem;
      .item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        max-width: 350px;
        img {
          width: 96px;
        }
        h3 {
          margin-top: 1.5rem;
          font-size: 2rem;
        }
        p {
          margin-top: 7px;
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .section-two {
    .container {
      padding-left: 4rem;
      padding-right: 4rem;
      .benefits {
        flex-direction: column;
        gap: 4rem;
        .item {
          max-width: 600px;
          align-items: center;
        }
      }
    }
  }
}

.section-three {
  margin-top: 0;
  .container {
    padding: 2.875rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    .left,
    .right {
      width: 50%;
    }
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      .image-container {
        width: 100%;
        max-width: 400px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      h2 {
        font-size: 3rem;
        max-width: 500px;
      }
      ul {
        margin-top: 1.9375rem;
        li {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-bottom: 10px;
          span {
            width: 30px;
            height: 30px;
            font-size: 1.2rem;
            font-weight: bold;
            border-radius: 50%;
            background: rgba(199, 238, 255, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.section-four {
  background: #c7eeff;
  .container {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    .left,
    .right {
      width: 50%;
      position: relative;
    }
    .left {
      h2 {
        max-width: 550px;
        font-size: 3rem;
        font-weight: bold;
      }
      p {
        font-size: 1.3rem;
        margin-top: 0.75rem;
        max-width: 600px;
      }
      button {
        margin-top: 2rem;
      }
    }
    .right {
      .image-container {
        width: 80%;
        height: 100%;
        margin: auto;
        min-width: 300px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.section-five {
  background: #fafafa;
  margin-top: 0;
  .container {
    padding: 4rem 0rem;
    width: 100%;
    h3:first-child {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      font-weight: normal;
    }
    h2 {
      font-size: 3rem;
      text-align: center;
    }
    .card-container {
      margin-top: 1.25em;
      gap: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      .card {
        grid-column: span 1;
        width: 100%;
        max-width: 350px;
        padding: 1em;
        background: #fff;
        .user {
          display: flex;
          gap: 10px;
          align-items: flex-start;
          .info {
            h4 {
              margin-bottom: 6px;
            }
            i {
              color: goldenrod;
            }
          }
          .image-container {
            width: 60px;
            img {
              width: 100%;
            }
          }
        }
        p {
          margin-top: 10px;
          line-height: 24px;
          font-size: 1.1rem;
        }
      }
    }
  }
}

.section-banner {
  width: 100%;
  margin-top: 3.5rem;
  padding: 2rem 8rem;
  .container {
    background: #0077c0;
    display: flex;
    align-items: center;
    .left,
    .right {
      width: 50%;
    }
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      .image-container {
        width: 100%;
        max-width: 400px;
        img {
          width: 100%;
        }
      }
    }
    .right {
      color: #fff;
      h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: normal;
      }
      h2 {
        font-size: 3rem;
        max-width: 500px;
      }
      button {
        margin-top: 1rem;
        color: #0077c0;
        background: #fff;
      }
    }
  }
}

footer {
  width: 100%;
  background: #1d242b;
  padding: 0 8rem;
  color: #fff;
  .container {
    padding: 1.75rem 0;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    .column-one {
      margin-right: auto;
      flex-direction: column;
      img {
        width: 150px;
        margin-bottom: 1.5rem;
      }
      .social-icons {
        margin-bottom: 1.5rem;
        i {
          margin-right: 1rem;
          background: rgb(83, 83, 83);
          padding: 0.5rem;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
    .column {
      min-width: 200px;
      ul li {
        cursor: pointer;
      }
    }
    .column:not(.column-one) {
      h3 {
        margin-bottom: 1.5rem;
      }
      ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
      }
    }
    .column-four {
      .input-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        align-items: center;
        padding: 0.6em 1em;
        background: rgb(83, 83, 83);
        border-radius: 5px;
        input {
          outline: none;
          border: 0;
          background: none;
          color: #fff;
          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 930px) {
  .section-four {
    .container {
      flex-direction: column;
      padding: 4rem 4rem 0 4rem;
      .left,
      .right {
        width: 100%;
      }
      .right {
        .image-container {
          max-width: 400px;
        }
      }
    }
  }
  .section-banner {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 2rem 2rem;
      padding-bottom: 0;
      .left,
      .right {
        width: 100%;
      }
      .right {
        order: -1;
        text-align: center;
        h2 {
          max-width: 100%;
        }
      }
    }
  }
  footer {
    .container {
      .column {
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 642px) {
  html {
    font-size: 65%;
  }
  section {
    padding: 0 1rem;
    .content {
      .right {
        .image-container {
          min-width: 200px;
        }
        .blob {
          min-width: 200px;
        }
      }
    }
    .socials {
      img {
        width: 60px;
      }
    }
  }
  .section-three {
    .container {
      flex-direction: column;
      align-items: center;
      .left,
      .right {
        width: 80%;
      }
      .left {
        order: 1;
      }
    }
  }
  .section-banner {
    padding: 0;
  }
}
